# This is Python Tutorial

This is our first program in Python, it just started here !!

In [ ]:
print("Hello World !!")

$a=b+c$

# Variable

In [ ]:
x = 3

In [ ]:
%whos

In [ ]:
print(type(x))

In [ ]:
x = 5.7

In [ ]:
print(type(x))

In [ ]:
abcd = 556.0

In [ ]:
%whos

 # Multiple Assignment

In [ ]:
a,b,c,d = 2,3,4.1,5.5

In [ ]:
print(a,b,c,d)

In [ ]:
%whos

In [ ]:
del abcd

In [ ]:
%whos

In [ ]:
c = 2+4j

In [ ]:
print(type(c))

In [ ]:
s = "hello my name is srinidhi"

In [ ]:
print(type(s))

# Operators in Python

In [ ]:
%whos

In [ ]:
sumOfaAndb = a+b

In [ ]:
print(sumOfaAndb)

In [ ]:
type(sumOfaAndb)

In [ ]:
type(a+d)

In [ ]:
v = ((a+d)**3)/4
print(v)

In [ ]:
s1 = "hello"
s2 = "world !!"
print(s1+s2)

In [ ]:
10 // 3

In [ ]:
10 / 3

In [ ]:
_

In [ ]:
startingTimeOfTheCourse = 2.0
%whos

# Boolean Operator

In [ ]:
a = True
b = True
c = False

In [ ]:
%whos

In [ ]:
print( a and b)
print( b and c)
print( c and a)

In [ ]:
d = a or c
print(d)

In [ ]:
not(d)

In [ ]:
not((a and b) or (a or d))

# Comparisons

In [ ]:
print(2 < 3)

In [ ]:
c = 3 < 4

In [ ]:
type(c)

In [ ]:
print(c)

In [ ]:
3 == 3.0

In [ ]:
x = 4
y = 9
z = 8.3
r = -3

In [ ]:
(x<y) and (z<y) or (r==x)

In [ ]:
round(5.2)

In [ ]:
round(5.6)

In [ ]:
round(5.5)

 # Some functions

In [ ]:
print(round(4.345))

In [ ]:
print(round(4.556789,3))

In [ ]:
print(round(4.5567,2))

In [ ]:
divmod(27,5)

In [ ]:
a = divmod(34,9)

In [ ]:
type(a)

In [ ]:
a[0]

In [ ]:
a[1]

In [ ]:
34 // 7

In [ ]:
34 % 7

In [ ]:
print(isinstance(1, int))

In [ ]:
print(isinstance((1,2,"Hello"),tuple))

In [3]:
 pow(2,4)

16

In [ ]:
 pow(2,4,3)

In [ ]:
a = input("Enter your name- ")

In [ ]:
print(a)

In [ ]:
b = float(input("Enter a decimal number"))

In [4]:
type(b)

int

In [ ]:
dir(b)

# Control Flow in Python

In [2]:
a = int(input("Enter a number "))
b = int(input("Enter a number "))
if a < b:
    print("b is greater than a")
else:
    print("a is greater than b")
print("It's done bro !!")

Enter a number12
Enter a number14
b is greater than a
It's done bro !!

In [2]:
tuple1 = {
    (0,"Srinidhi"),(1,"Sannidhi"),(2,"Arpitha"),(3,"Raju")
}

In [20]:
for i,j in tuple1:
    if j == "Raju":
        print(i)

3

In [3]:
type(tuple1)

set

In [5]:
a = 5
b = 5
if a == b:
    print("Equal")
elif a > b:
    print("A")
else:
    print("B")
print("Not in if")

Equal
Not in if

In [9]:
marks = int(input("Enter mark : "))
if marks >= 85:
    print("A")
elif marks < 85 and marks >= 80:
    print("A-")
elif marks < 80 and marks >= 75:
    print("B")
elif marks < 75 and marks >= 70:
    print("B-")
else:
    print("Below Avg")

Enter mark : 64
Below Avg

In [10]:
a = 3
if a > 10:
    print(">10")
elif not(a > 10):
    print("Else part")

Else part

In [12]:
a = int(input())
if a > 10:
    print(">10")
    print("Inside the top if")
    if a > 20:
        print(">20")
        print("Inside the nested if")
        if a > 30:
            print(">30")
            print("Inside the nested if of nested if")
        else:
            print("<= 20")
    else:
        print("<=20")
        print("Inisde the else part of the nested if")
        print("Outside all ifs")
print("Outside the all the block")

24
>10
Inside the top if
>20
Inside the nested if
<= 20
Outside the all the block

In [13]:
#single line comment
""" Multiple line comment, User will enter a floating point
number  your task is to find out the intergerportion before
the point in this case its 238.915 and then check whether if that
integer portion is even or not
"""

x = float(input("Enter a real number: "))
y = round(x)
if x > 0:
    intPortion = 
else:

SyntaxError: invalid syntax (2293034997.py, line 11)

In [18]:
y = 7.315
x = round(y)
print(x)

7

# While loops

In [20]:
n = int(input("Max iterations "))
i = 1
while i < n:
    print(i)
    i += 1
print("Done ")

Max iterations 10
1
2
3
4
5
6
7
8
9
Done

In [22]:
n = int(input())
i = 1
while i < n:
    print(i**2)
    print("Square")
    i += 1

5
1
Square
4
Square
9
Square
16
Square

# Examples

In [27]:
n = int(input("Max iterations"))
i = 1
while i < n:
    if i%2 == 0:
        print(i)
    else:
        pass
    i += 1

Max iterations21
2
4
6
8
10
12
14
16
18
20

# Loops : break, continue

In [5]:
i = 1
while True:
    if i%17 == 0:
        print("break")
        break
    else:
        i += 1
        print(i)
        continue
    print("I am inside the loop")
print("Done")

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
break
Done

# For loops

In [9]:
l = []
for i in range(10):
    print(i+1)
    l.append(i**2)
print(l)

1
2
3
4
5
6
7
8
9
10
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
l = []
for i in range(0,10,2):
    print(i)
    l.append(i**2)
print(l)

0
2
4
6
8
[0, 4, 16, 36, 64]

# Control flow(else in for loops)

In [17]:
s = {"apple",4.9,"cherry"}
for x in s:
    print(x)
else:
    print("Loop completed iteration")

apple
cherry
4.9
Loop completed iteration

In [1]:
i = [1,2,3,4,5,6]
for j in i:
    print(j**2)

1
4
9
16
25
36

# Control Flow(Exploring a dictionary)

In [2]:
D = {"apple": 44, "cherry":"game"}
for x in D:
    print(x,D[x])

apple 44
cherry game

In [3]:
D = {"apple": 44, "cherry":"game"}
for x in D:
    print(x)

apple
cherry

In [25]:
"""Given list of numbers ie [1,2,3,4,-5,6,9,2,3]
make another list that contains all the items in 
sorted order from min to max"""
listOfNum = [1,2,4,-5,7,9,3,2]
for OuterIndex in range(len(listOfNum)):
    m = listOfNum[OuterIndex]
    indx = OuterIndex
    c = OuterIndex
    for i in range(OuterIndex,len(listOfNum)):
        if listOfNum[i] < m:
            m = listOfNum[i]
            indx = c
        c+=1
    listOfNum[OuterIndex], listOfNum[indx] = m, listOfNum[OuterIndex]
print(l)

[-5, 1, 2, 2, 3, 4, 7, 9]

# Functions in Python

In [23]:
p = range(0,7)
print(list(p))

[0, 1, 2, 3, 4, 5, 6]

In [2]:
def printSuccess():
    print("I am done")
    print("Send me anothertask")

In [3]:
printSuccess()

I am done
Send me anothertask

In [4]:
 def printSucessTwo():
        """ This func is doing noting except printing a message.
        That message is hello
        """
        print("hello")

In [11]:
printSucessTwo??

# Shorter Sorting in Python

In [17]:
listOfNum = [1,2,4,-5,7,9,3,2]
for i in range(len(listOfNum)):
    for j in range(i+1, len(listOfNum)):
        if listOfNum[i] > listOfNum[j]:
            listOfNum[i], listOfNum[j] = listOfNum[j], listOfNum[i]
print(listOfNum)

[-5, 1, 2, 2, 3, 4, 7, 9]

In [26]:
def printMessage(msg):
    """Prints the message if its a string"""
    if isinstance(msg,str):
        print(msg)
    else:
        print("Your input is not a string")
        print("Here is your type of message", type(msg))

In [27]:
printMessage("Srinidhi")

Srinidhi

In [28]:
printMessage(12)

Your input is not a string
Here is your type of message <class 'int'>

In [32]:
def mypow(a, b):
    """This function will act as if the builtin pow function """
    print(a**b)

In [30]:
mypow(2,2)

4

In [33]:
mypow?

In [34]:
def func(a,b,c):
    if isinstance(a,(int,float)) and isinstance(b, (int, float)) and isinstance(c,(int,float)):
        print(a,b,c)
    else:
        print("Error")

In [35]:
func(1,2,3)

1 2 3

In [37]:
func("g",3,7)

Error

In [38]:
func(1,2)

TypeError: func() missing 1 required positional argument: 'c'

In [41]:
 def f(c2, c1, c3):
        print(c1, c2, c3)

In [42]:
f(c1 = "A", c3 = "C", c2 = "B")

A B C

In [43]:
def f1(a,b,c):
    print("A is : ", a)
    print("B is : ", b)
    print("C is : ", c)

In [44]:
f1(2,"game",3)

A is :  2
B is :  game
C is :  3

In [45]:
f1("game", 6, 7)

A is :  game
B is :  6
C is :  7

# Return Statement

In [49]:
def myadd(a, b):
    sumValue= a+b
    return sumValue

In [50]:
myadd(2,3)

5

In [51]:
def r():
    a = 2
    b = 3
    c ="Something"
    return a,b,c

In [54]:
x,y,z = r()
print(x,y,z)

2 3 Something

In [55]:
def add(*args):
    sum = 0
    for i in range(len(args)):
        sum += args[i]
    return sum

In [57]:
print(add(4,5,5,6))

20

In [58]:
def printAllVarAndVal(**args):
    for x in args:
        print("Variable name is ",x, "Value of the variable is ",args[x])

In [60]:
printAllVarAndVal(a=1,b="Srinidhi",c=21)

Variable name is  a Value of the variable is  1
Variable name is  b Value of the variable is  Srinidhi
Variable name is  c Value of the variable is  21

In [61]:
def gg(s=4):
    print(s)

In [62]:
gg()

4

In [63]:
gg(3)

3

In [64]:
L = [1,2,3,4]
L2 = L
L2[0] = -9
print(L2)

[-9, 2, 3, 4]

In [67]:
def ff(l=[1,2]):
    for i in l:
        print(i)

In [68]:
l2 = [12,3,4]
ff()

1
2

In [69]:
ff(l2)

12
3
4

# Modules in Python

In [6]:
import sys
sys.path.append('C:/Users/10693867/Downloads/MyFunctions/')

In [21]:
import myUniversalFunctions as myfs

In [73]:
myfs.addAllNumeric(2,2,3,4,5,6)

22

In [74]:
myfs.myName

'Python Course'

# Practice problems

In [13]:
def findMin(l):
    m = l[0]
    idx = 0
    i = 0
    for x in l:
        if x<m:
            m = x
            idx = i
        else:
            pass
        i+=1
    return(idx,m)

In [5]:
a,b = findMin([1,3,5,4,6])

In [6]:
print(a,b)

0 1

In [7]:
def findMin(l,start):
    m = l[start]
    idx = start
    for i in range(start,len(l)):
        x = l[i]
        if x<m:
            m = x
            idx = i
        else:
            pass
        i+=1
    return(idx,m)

In [8]:
def swapValues(L,indx1,indx2):
    L[indx1],L[indx2] =  L[indx2],L[indx1]
    return L

In [10]:
m = [1,5,3,4,2,6]
m1 = swapValues(m,1,4)
print(m1)

[1, 2, 3, 4, 5, 6]

In [8]:
from myUniversalFunctions import checkIfNotNumeric
def sortList(L):
    if not(checkIfNotNumeric(L)):
        print("Error, no numbers ")
        return
    else:
        c = 0
        for x in L:
            m, idx = findMin(L,c)
            L = swapValues(L,c,idx)
            c+=1
    return L

In [12]:
L2 = sortList(2,1,5,3,-8,17)
print(L2)

TypeError: sortList() takes 1 positional argument but 6 were given

In [13]:
checkIfNotNumeric(1,2,3)

True

In [11]:
import myUniversalFunctions as mysys
d = mysys.checkIfNotNumeric(1,2,23,4,5)
print(d)

True

### Strings in Python

In [15]:
s = "Python"
print(type(s))
type(s)

<class 'str'>

str

In [17]:
s = "Python is a good language"
v = "And its good for data scince"
q = s+" "+v
print(q)

Python is a good language And its good for data scince

In [24]:
price = 12
s = "The price of this book is :"
v = s+ " "+str(price)
print(v)
print(s,price)

The price of this book is : 12
The price of this book is : 12

In [25]:
multiline_string = """Srinidhi is a good boy"""
print(multiline_string)

Srinidhi is a good boy

In [27]:
print(multiline_string[5])

d

In [28]:
print(multiline_string[:7])

Srinidh

In [29]:
print(multiline_string[8:])

 is a good boy

In [30]:
print(multiline_string[::-1])

yob doog a si ihdinirS

In [31]:
print(multiline_string[-2])

o

In [32]:
print(multiline_string[-8:-3])

good

In [34]:
print(multiline_string[-3:-8])

# String Methods

In [35]:
a = "   abd   bdf    hdgf      yhk"
b = a.strip()
print(b)

abd   bdf    hdgf      yhk

In [38]:
d = a.replace("abd","abc")
print(d)

   abc   bdf    hdgf      yhk

In [39]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [40]:
print("at" in "Amat")

True

# Data Structures in Python

In [2]:
L = [1,2,3,4.9,"srinidhi"]
T = (1,3,4.9,"Srinidhi")
S = {1,3,3,4.9,"Srindihi"}
D = {23:"twothree","B":43,'C':"CCD"}

In [43]:
print("The type of L is ",type(L))
print("The type of T is ",type(T))
print("The type of S is ",type(S))
print("The type of D is ",type(D))

The type of L is  <class 'list'>
The type of T is  <class 'tuple'>
The type of S is  <class 'set'>
The type of D is  <class 'dict'>

In [44]:
print(L[1])
print(T[1])
print(3 in S)
print(D[23])

2
3
True
twothree

In [52]:
S.add("Sannidhi")
print(S)

{1, 3, 4.9, 'Sannidhi', 'Srindihi'}

In [54]:
L = L+["how","are",3]
print(L)

[1, 2, 3, 4.9, 'srinidhi', 'how', 'are', 3, 'how', 'are', 3]

[1, 2, 3, 4.9, 'srinidhi', 'how', 'are', 3, 'how', 'are', 3]

In [56]:
L.append("Sri")
L

[1, 2, 3, 4.9, 'srinidhi', 'how', 'are', 3, 'how', 'are', 3, 'Sri']

In [57]:
T2 = ('a','b',45)
T3 = T+T2
T3

(1, 3, 4.9, 'Srinidhi', 'a', 'b', 45)

In [58]:
S.add(56)
S

{1, 3, 4.9, 56, 'Sannidhi', 'Srindihi'}

In [59]:
S.update({2,26,"San"})
S

{1, 2, 26, 3, 4.9, 56, 'San', 'Sannidhi', 'Srindihi'}

In [62]:
for i in S:
    print(i)

1
2
3
4.9
Sannidhi
Srindihi
San
56
26

In [63]:
D

{23: 'twothree', 'B': 43, 'C': 'CCD'}

In [66]:
D[7] = "James"

In [67]:
D

{23: 'twothree', 'B': 43, 'C': 'CCD', 7: 'James'}

In [76]:
D2 = {"a":1,"b":"Biggies"}
D.update(D2)
D

{23: 'twothree', 'B': 43, 7: 'James', 'a': 1, 'b': 'Biggies'}

In [71]:
S.remove('San')

In [72]:
S

{1, 2, 26, 3, 4.9, 56, 'Sannidhi', 'Srindihi'}

In [74]:
del D['C']

In [75]:
D

{23: 'twothree', 'B': 43, 7: 'James'}

In [6]:
L.reverse()
print(L)

['srinidhi', 4.9, 3, 2, 1]

In [7]:
D.items()
print(D)

{23: 'twothree', 'B': 43, 'C': 'CCD'}

# Examples on Abstractness of these Data structures

In [8]:
D2 = {'a':L,'b':T,'c':S,'d':D}

In [9]:
print(D2)

{'a': ['srinidhi', 4.9, 3, 2, 1], 'b': (1, 3, 4.9, 'Srinidhi'), 'c': {1, 'Srindihi', 3, 4.9}, 'd': {23: 'twothree', 'B': 43, 'C': 'CCD'}}

In [12]:
print(D2['a'][3])

2

In [13]:
K = D2['d']
for x in K :
    print(x,K[x])

23 twothree
B 43
C CCD

In [14]:
L3 = [L,T,D,"game"]

In [15]:
print(L3)

[['srinidhi', 4.9, 3, 2, 1], (1, 3, 4.9, 'Srinidhi'), {23: 'twothree', 'B': 43, 'C': 'CCD'}, 'game']

In [16]:
type(L3[2])

dict

In [17]:
L3 = [ x**2 for x in range(10)]
print(L3)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
23 in D

True

# "Let say you are a teacher you have different student ID, and so on...."

In [20]:
def getDataFromTeacher():
    D = {}
    while True:
        studentId = input("Enter student ID: ")
        marksList = input("Enter the marks using csv: ")
        moreStudents = input("Enter no for quitting insertion ")
        if studentId in D:
            print(studentId, "already exist")
        else:
            D[studentId] = marksList.split(",")
        if moreStudents.lower() =="no":
            return D

In [21]:
studentData = getDataFromTeacher()

Enter student ID: 1
Enter the marks using csv: 56,45,30
Enter no for quitting insertion asdf
Enter student ID: 2
Enter the marks using csv: 12,45,67
Enter no for quitting insertion no

In [23]:
studentData

{'1': ['56', '45', '30'], '2': ['12', '45', '67']}

In [26]:
def getAvgMarks(D):
    amd = {}
    for x in D:
        L = D[x]
        s = 0
        for marks in L:
            s += int(marks)
        amd[x] = s/len(L)
    return amd

In [27]:
avgM = getAvgMarks(studentData)

In [28]:
avgM

{'1': 43.666666666666664, '2': 41.333333333333336}

In [29]:
for x in D:
    print(x)

23
B
C

In [31]:
for x in avgM:
    print("Student:",x,"got avg of",avgM[x])

Student: 1 got avg of 43.666666666666664
Student: 2 got avg of 41.333333333333336